body {
    margin: 1% 10%;
}

#compare-second .diff{
    background: rgba(200, 100, 100, 0.4);
}

#compare-first .diff{
    background: rgba(100, 200, 100, 0.4);
}

#compare-text{
    display: flex;
    justify-content: space-around;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    border: 1px dotted #aaa;
    
}

#compare-first, #compare-second{
    width: 49%;
    word-wrap: break-word;
    box-sizing: border-box;
    padding: 5px;
} 

#input-text-wrap,
#input-key-wrap,
#compare-wrap,
#output-text-wrap {
    margin: 5px 0;
    display: block;
    width: 100%;
}

#button-wrap {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#radio-wrap {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

#input-text,
#input-key,
#output-text {
    resize: none;
    width: 100%;
    height: 60px;
}

#type-fn-wrap,
#type-key-wrap {
    box-sizing: border-box;
    display: inline-block;
}

.header-label,
.row-radio {
    display: block;
    width: 100%;
    text-align: left;
}

.container {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}